<!-- INDEX PAGE SIGN UP FORM -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    <h2 class="signup-title-index-form">SIGN UP</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.text_field :first_name, placeholder: "Your name" %>
        </div>

        <div class="field">
          <%= f.email_field :email, placeholder: "Your email" %>
        </div>

        <div class="field">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation" %>
        </div>

        <br>

        <div class="actions">
          <%= f.submit "Let's get started!", class: "btn not-modal-sign-up-form-submit-btn"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>    