<!-- MODAL AND DEFAULT SIGN UP FORM -->
<div class="container-fluid signup-form">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-1">
    <h2 class="signup-title-modal-form">SIGN UP</h2>
    <p class="custom-p">for exlusive job opportunities and career resources</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.text_field :first_name, placeholder: "Your Name", class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
        </div>

        <div class="field">
          <%= f.email_field :email, placeholder: "Your Email", class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox"> I have read <span>Metas Terms and Conditions</span>
          </label>
        </div>

        <div class="actions">
          <%= f.submit "SIGN UP", class: "btn btn-in-modals btn-block"  %>
        </div>
      <% end %>

      <br>

      <%- if controller_name != 'sessions' %>
        Already a METAS member? <%= link_to "Log in", new_session_path(resource_name) %><br />
      <% end -%>

      <%= render "devise/shared/links" %>
      <%= link_to "Back", root_path %>
    </div>
  </div>
</div>    