<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
<a href="javascript:history.back()">Back</a>
  <article id="<%= @document.id %>" data-wio-id="<%= @document.id %>">
    <table class="table table-striped">
      <tr>
        <td><h2><%= @document.fragments["jobtitle"].as_html_safe(link_resolver()) %></h2>
        <div class="pay pull-right"><%= @document.fragments["pay-range"].as_html_safe(link_resolver()) %>/hr</div>
   		<div><a class="btn pull-right guest-apply-btn" data-toggle="modal" data-target="#signup-modal">APPLY</a></div>
        <h3><%= @document.fragments["location"].as_html_safe(link_resolver()) %></h3>
        <h4><%= @document.fragments["city"].as_html_safe(link_resolver()) %></h4>
        <h4><%= @document.fragments["description"].as_html_safe(link_resolver()) %></h4>
        <%= image_tag("clock.jpg", :class => "clock") %><%= @document.fragments["hours"].as_html_safe(link_resolver()) %></td>
      </tr>
    </table>
  </article>
</div>