<!-- MODAL LOG IN FORM -->
<div class="holder">
  <div class="container-fluid login-form">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1">
      <h2 class="login-title-modal-form">SIGN IN</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "Your Email", class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
          </div>

          <div class="actions">
            <%= f.submit "SIGN IN", class: "btn btn-in-modals btn-block"  %>
          </div>
        <% end %>

        <br />

        <div class="forgotten-pw"><%= render "devise/shared/links" %></div>

        <br />

        <%- if controller_name != 'sessions' %>
          <div class="session-offset">Not a METAS member? <span><a class="guestNavBarCursor open-signup" data-toggle="modal" data-target="#signup-modal">Sign up</a></span></div><br />
        <% end -%>
        <%#= link_to "Back", root_path %>
      </div>
    </div>
  </div>
</div> 