<nav id="userNavBar" class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-lg-3">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="pull-right fa fa-bars fa-2x" aria-hidden="true"></i>
            </button>
            <%= link_to "", application_welcome_path, class: "navbar-brand metas-user-navbar-logo img-responsive" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Jobs", application_jobs_path %></li> 
              <li><%= link_to "Resources", application_resources_path %></li>
              <li><%= link_to "About", application_welcome_path %></li>

              <li class="visible-xs"><%= link_to "My profile", edit_user_registration_path %></li>

              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "log_out" %></li>

              <li class="navbar-name hidden-xs"><%= link_to edit_user_registration_path do %>
                Welcome, <%= current_user.first_name %>
              <% end %></li><br />

              <h7 class="col-md-9 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">Para informaci&#243;n en espa&#241;ol, llama 212-888-8888</h7>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
