<%#= render 'application/guestnavbar' %>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-0">
                <div class="header-content">
                    <div class="header-content-inner">
                        <div class="metas-main-index-page-logo img-responsive"></div>
                        <h4 class="index-page-header-content-inner-h4">We are dedicated to providing job opportunities and career <br> &nbsp;&nbsp;&nbsp;&nbsp;development resources for the Latino working class.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait">
                        <div class="device">
                                <%= render :template=> 'devise/registrations/new-index-page-form' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="services-index-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">RESOURCES</h2>
            </div>
        </div>
    </div><!-- container --> 
    <div class="container">
        <div class="row">
        <%= link_to root_path do %>
                <div class="col-lg-4 col-lg-offset-1 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12">
                    <div class="service-img-1 img-responsive">
                        <div class="service-box">
                            <h3>JOB TOOLS</h3>
                            <p>From resume to cover letters, we've got you covered.</p>
                            <div class="customhr"></div> 
                        </div>
                    </div>   
                </div>
            <% end %>
            <%= link_to root_path do %>
                <div class="col-lg-4 col-lg-offset-1 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12">
                    <div class="service-img-2 img-responsive">
                        <div class="service-box">
                            <h3>CAREER COUNSELING</h3>
                            <p>Consult with our METAS coaches for personalized career advice.</p>
                            <div class="customhr"></div> 
                        </div>
                    </div> 
                </div>
            <% end %>
        </div>   
    </div><!-- container --> 

    <div class="container secondrow">
        <div class="row">
            <%= link_to root_path do %>
                <div class="col-lg-4 col-lg-offset-1 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12">
                    <div class="service-img-3 img-responsive">
                        <div class="service-box">
                            <h3>CERTIFICATIONS 101</h3>
                            <p>Learn about available certifications available in your industry.</p>
                            <div class="customhr"></div> 
                        </div>
                    </div>    
                </div>
            <% end %>
            <%= link_to root_path do %>
                <div class="col-lg-4 col-lg-offset-1 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12">
                    <div class="service-img-4 img-responsive">
                        <div class="service-box">
                            <h3>LANGUAGE CLASSES</h3>
                            <p>Finetune your English skills for that next promotion or job opportunity.</p>
                            <div class="customhr"></div> 
                        </div>
                    </div> 
                </div>
            <% end %>
        </div>   
    </div><!-- container secondrow-->  

    <br />
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">JOBS</h2>
            </div>
        </div>
    </div><!-- container --> 
    <div class="container">
        <div class="row">
            <%= link_to application_jobs_path  do %>
                <div class="col-lg-4 col-lg-offset-1 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12">
                    <div class="service-img-5 img-responsive">
                        <div class="service-box">
                            <h3>FIND A JOB</h3>
                            <p>Find the next opportunity that best utilizes your skills and background.</p>
                            <div class="customhr"></div> 
                        </div>
                    </div>    
                </div> 
            <% end %>
            <%= link_to root_path do %>
                <div class="col-lg-4 col-lg-offset-1 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12">
                    <div class="service-img-6 img-responsive">
                        <div class="service-box">
                            <h3>POST A JOB</h3>
                            <p>Looking for the next addition to your team? Post to our community of some of the strongest candidates in the workforce.</p>
                            <div class="customhr"></div> 
                        </div>
                    </div> 
                </div>
            <% end %>    
        </div>   
    </div><!-- container -->  
   <br />
</section>