<div class="container jobs-page">

  <%= render 'partials/jobappreceived' %>
  <%= render 'partials/searchbar' %>
  <br />      
  <%= render 'partials/filters' %>
  <%= render 'partials/totalresults' %>

  <% if user_signed_in? %>
    <%= render 'partials/userjobs' %>
  <% else %>
    <%= render 'partials/guestjobs' %>
  <% end %>

  </div>
<!-- <%#= doc.fragments["jobtitle"].as_html_safe(link_resolver()) %> -->
<!-- document id:<%#= doc.id %> -->
<!-- user id:<%#= current_user.id %>   -->
<!-- user lname:<%#= current_user.last_name %>   -->
<!-- user fname:<%#= current_user.first_name %>   -->
<!-- user emai:<%#= current_user.email %>  -->

