<div class="container jobs-page">
  <%= render 'partials/jobappreceived' %>
  <%= render 'partials/searchbar' %>
  <%= render 'partials/flash' %>
  <br />      
  <%= render 'partials/filters' %>
  <%= render 'partials/totalresults' %>
<!----------- PRISMIC FRAGMENTS ---------->
<% @documents.each do |doc| %>
  <table class="table table-striped">
    <tr>
        <td><h2><%= doc.fragments["jobtitle"].as_html_safe(link_resolver()) %></h2>
        <div class="pay pull-right">$<%= doc.fragments["pay"].as_html_safe(link_resolver()) %>/hr</div>
        <div><a class="btn job-apply-btn pull-right" data-toggle="modal" data-target="#job-modal-<%= doc.id %>">APPLY</a></div>
        <h3><%= doc.fragments["location"].as_html_safe(link_resolver()) %></h3>
        <h4><%= doc.fragments["city"].as_html_safe(link_resolver()) %></h4>
        <h4><%= doc.fragments["description"].as_html_safe(link_resolver()) %></h4>
        <%= image_tag("clock.jpg", :class => "clock") %><%= doc.fragments["hours"].as_html_safe(link_resolver()) %></td>
    </tr>
  </table>
   <!-- -------APPLY TO JOB MODAL ------------>
  <div id="job-modal-<%=doc.id%>" class="modal fade apply-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div type="button" class="close" data-dismiss="modal">X</div>
        </div>
        <div class="modal-body job-modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-1 col-xs-offset-0">
                <h2 class="apply-to-job-title">APPLY</h2>
                <br /> 
                <div align="center">
                  <p class="applytojobmodal">Let us connect you to your next career opportunity.</p>
                    <%= simple_form_for @jobemail, remote: true do |f| %>
                      <%= f.label :Phone_number %>
                      <%= f.input :phone_number, :placeholder => '  (   )   -', :required => true, :id => 'phonenumber', :label => '', :input_html => {:style => 'width: 250px'}, :input_html => { autocomplete: 'off' }  %>
                      <%= f.input :additional_information, :placeholder => 'Availability, questions, concerns', :required => true, :label => 'Additional Information', :input_html => {:style => 'height: 100px'}%>
                      <%= f.hidden_field :first_name, :required => true, :value => current_user.first_name %>
                      <%= f.hidden_field :last_name, :required => true, :value => current_user.last_name %>
                      <%= f.hidden_field :email, :required => true, :value => current_user.email %>
                      <%= f.hidden_field :job_title, :required => true, :value =>  doc.fragments["jobtitle"].as_html_safe(link_resolver()) %>
                      <%= f.hidden_field :job_id, :required => true, :value =>  doc.id  %>
                      <div>
                      <%= f.button :submit, 'SUBMIT', :class=> "btn btn-custom btn-in-modals sub-application-btn" %>
                      <%#= f.button :submit, 'SUBMIT', :class=> "btn btn-custom btn-in-modals sub-application-btn", :disabled => "disabled" %>
                      <p class="assistance">For immediate assistance, please call 212-888-8888</p>
                    </div>
                  <% end %>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate @documents %>
</div><!-- container jobs-page -->

<%#= doc.fragments["jobtitle"].as_html_safe(link_resolver()) %>
<!-- document id:<%#= doc.id %> -->
<!-- user id:<%#= current_user.id %>   -->
<!-- user lname:<%#= current_user.last_name %>   -->
<!-- user fname:<%#= current_user.first_name %>   -->
<!-- user emai:<%#= current_user.email %>  -->

