<!DOCTYPE html>
<html>
<head>
  <title>Metas</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'metas-favicon.png' %>
</head>
<body>

  <% if user_signed_in? %>
    <%= render 'usernavbar'  unless current_page?(application_welcome_path)%> 
  <% else %>
    <%= render 'guestnavbar' %>
  <% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<%= render 'footer' %>

<!-- Modal for Sign up -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header col-md-offset-3">
        <div type="button" class="close" data-dismiss="modal">&times;</div>
        <h4 class="modal-title">SIGN UP</h4>
      </div>
      <div class="modal-body">
        <p>For exlusive job opportunities and career resources</p>
        <%= render :template=> 'devise/registrations/new' %>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Log in-->
<div id="myModal-2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header col-md-offset-3">
        <div type="button" class="close" data-dismiss="modal">&times;</div>
        <h4 class="modal-title">SIGN IN</h4>
      </div>
      <div class="modal-body">
        <%= render :template=> 'devise/sessions/new' %>
      </div>
    </div>
  </div>
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<% # This is required for the edit button. %>
<script>
  window.prismic = { endpoint: '<%= endpoint %>' };
</script>
<% # This file is required for Experiments and Previews. %>
<script src="//static.cdn.prismic.io/prismic.min.js"></script>
<% # You can safely remove this block if you don't use experiments - your Google Analytics block should be before this tag %>
<% render 'partials/experiments', :google_id => @google_id %>

</body>
</html>
