<!DOCTYPE html>
<html>
<head>
  <title>Metas</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'metas-favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:900|Lato|eRaleway" rel="stylesheet">
</head>
<body>

  <% if user_signed_in? %>
    <%= render 'usernavbar'  unless current_page?(application_welcome_path)%> 
  <% else %>  
    <%= render 'guestnavbar'  unless current_page?(application_welcome_path)%> 
  <% end %>
<!-- 
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->

<%= yield %>

<%= render 'partials/signup' %>

<%= render 'partials/login' %>

<%= render 'footer' %>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<% # This is required for the edit button. %>
<script>
  window.prismic = { endpoint: '<%= endpoint %>' };
</script>
<% # This file is required for Experiments and Previews. %>
<script src="//static.cdn.prismic.io/prismic.min.js"></script>
<% # You can safely remove this block if you don't use experiments - your Google Analytics block should be before this tag %>
<% render 'partials/experiments', :google_id => @google_id %>

</body>
</html>
